<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">GiftPortal</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="admin/users" class="nav-link">User</a>
        </li>
        <li class="nav-item">
          <a routerLink="admin/orders" class="nav-link">Orders</a>
        </li>
        <li class="nav-item">
            <a routerLink="admin/complaints" class="nav-link">Complaints</a>
          </li>
      </div>
    </nav>
  </div>
  
  
  <div class="container-fluid mt-3">
    <router-outlet></router-outlet>
  </div>
