<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>Flourish</h1>
    </div>
</nav>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>complaint ID</th>
                    <th>orderID</th>
                    <th>message</th>
                    <th>status</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let complaint of complaints">
                    <td>{{complaint.cid}}</td>
                    <td>{{complaint.oid}}</td>
                    <td>{{complaint.message}}</td>
                    <td>{{complaint.status}}</td>
                </tr>
            </tbody>


        </table>
    </div>
</div>