<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>Flourish</h1>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="search-hero mx-*-5 my-3">
            <input class="form-control" type="text" name="search" [(ngModel)]="Uname" autocomplete="off"
                placeholder="&#61442;  Start searching for complaint  ">
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>complaint ID</th>
                    <th>User ID</th>
                    <th>orderID</th>
                    <th>message</th>
                    <th>status</th>
                    <th>action</th>

                </tr>
            </thead>
            <tbody>
                <tr>

                <tr *ngFor="let complaint of complaintsdata | filter :Uname">
                    <td>{{complaint.cid}}</td>
                    <td>{{complaint.uid}}</td>
                    <td>{{complaint.oid}}</td>
                    <td>{{complaint.message}}</td>
                    <td>{{complaint.status}}</td>
                    <td> </td>
                    <td><button class="btn btn-primary" (click)="OnEdit(complaint)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Complaint Status</h4>
                <button type="button" class="btn btn-danger" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <select class="form-select" aria-label="Default select example" formControlName="status">
                        <option selected disabled >Update the status</option>
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                      </select>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"(click)="OnUpdate()">Update</button>
                            <button type="button" id="cancel" class="btn btn-warning" (click)="onCloseHandled()">Close</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>