<nav class="navbar navbar-light bg-primary">

    <div class="container-fluid">

        <h1>Flourish</h1>

        <div class="d-flex">
            <button type="button" class="btn btn-success" (click)="onOpenhandled()">Add Orders</button>


        </div>

    </div>

</nav>

<div class="container">
    <div class="row">
        <div class="search-hero mx-*-5 my-3">
            <input class="form-control" type="text" name="search" [(ngModel)]="Uname" autocomplete="off"
                placeholder="&#61442;  Start searching for user  ">
        </div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">UserID</th>
                    <th scope="col">P-name</th>
                    <th scope="col">Rxname</th>
                    <th scope="col">Rxadd</th>
                    <th scope="col">rxcity</th>
                    <th scope="col">Rxpin</th>
                    <th scope="col">RM-no</th>
                    <th scope="col">Ostatua</th>
                    <th scope="col">T-status</th>
                    <th scope="col">Action</th>
                    <th scope="col">updates</th>
                    <th scope="col">amount</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of ordersdata | filter: Uname">
                    <td>{{order.oid}}</td>
                    <td>{{order.uid}}</td>
                    <td>{{order.productname}}</td>
                    <td>{{order.rxname}}</td>
                    <td>{{order.rxaddress}}</td>
                    <td>{{order.rxcity}}</td>
                    <td>{{order.rxpincode}}</td>
                    <td>{{order.rxmobilenum}}</td>
                    <td>{{order.ostatus}}</td>
                    <td>{{order.trackstatus}}</td>
                    <td><button class="btn btn-primary" (click)="OnEdit(order)">Edit</button></td>
                    <td>{{order.updates}}</td>
                    <td>{{order.amount}}</td>
                </tr>

            </tbody>

        </table>
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Complaint Status</h4>
                        <button type="button" class="btn btn-danger" aria-label="Close" (click)="onCloseHandled()"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formValue">
                            <label>Order Status</label><br>
                            <select class="form-select" aria-label="Default select example" formControlName="ostatus">
                                <option selected disabled>Update the status</option>
                                <option value="Active">Active</option>
                                <option value="Delivered">Delivered</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                            <br><label>Track Status</label><br>
                            <select class="form-select mb-3" aria-label="Default select example"
                                formControlName="trackstatus">
                                <option selected disabled>Update the status</option>
                                <option value="Processing">Processing</option>
                                <option value="Shipped">Shipped</option>
                                <option value="Out for Delivery">Out for Delivery</option>
                            </select>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="OnUpdate()">Update</button>
                                <button type="button" id="cancel" class="btn btn-warning"
                                    (click)="onCloseHandled()">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>