.single{
    border-radius: 16px;
    border: 2px solid rebeccapurple;
    padding: 50px 20px;
    background-image: url(group1.JPG);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.single input{
    width:50%;
    margin-bottom:5px ;
}
.btn{
    width:100%;
    background-color: rebeccapurple;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background-color: palegreen;
} 
.single h1{
    color:rebeccapurple;
    text-decoration: 2px dashed rebeccapurple;
}



/* .log{
    float: right;
    margin-top: 100px;
    margin-right: 35%;
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 16px;
    border: 2px solid rebeccapurple;
    padding: 50px 20px;
    background-image: url(group1.JPG);
    background-position: bottom right;
   
}

.form-row{
    margin-bottom: 15px;
    margin-top: 15px;
}
.form-row label{
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
}
.form-row input{
    width: 50%;
    margin-bottom: 5px;
}
.btn{
    width:50%;
    background-color: rebeccapurple;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background-color: palegreen;
} */
