<div class=" container mt-5 container-fluid full">
    <div class="row">
        <div class="col-lg-6">
            <form class="form-group row g-3" [formGroup]="formValue">
                <div class="row">
                    <div class="single">
                        <h1>User Login</h1>
                        <div class=" col-md-12">
                            <label for="fw-bold" class="form-label" style="width:50%">Email</label>
                            <input type="email" class="form-control" id="fw-bold" formControlName="email"mt
                                placeholder="Enter your email" required>
                        </div>
                        <div class="  col-md-12">
                            <label for="lastName" class="form-label">Password</label>
                            <input type="password" class="form-control" id="lastName" formControlName="password"
                                placeholder="Enter your password" required>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <button type="button" (click)="loginUser()" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <form class="form-group row g-3" [formGroup]="formValue">
                <div class="row">
                    <div class="single">
                        <h1>Admin Login</h1>
                        <div class=" col-md-12">
                            <label for="fw-bold" class="form-label" style="width:50%">Email</label>
                            <input type="email" class="form-control" id="fw-bold" formControlName="email"
                                placeholder="Enter your email" required>
                        </div>
                        <div class="  col-md-12">
                            <label for="lastName" class="form-label">Password</label>
                            <input type="password" class="form-control" id="lastName" formControlName="password"
                                placeholder="Enter your password" required>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <button type="button" (click)="loginAdmin()" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>