<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Flourish</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-success">Add User</button>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="search-hero mx-*-5 my-3">
      <input class="form-control" type="text" name="search" [(ngModel)]="Uname" autocomplete="off"
        placeholder="&#61442;  Start searching for user  ">
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User ID</th>
          <th>UName</th>
          <th>email</th>
          <th>Password</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of userdata | filter: Uname">
          <td>{{row.uid}}</td>
          <td>{{row.uname}}</td>
          <td>{{row.email}}</td>
          <td>{{row.password}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>