<div *ngIf="loggedin">
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <h1>Flourish</h1>
            <div class="d-flex">
                <button type="button" class="btn btn-success" (click)="clickAddUser()">Add User</button>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="search-hero mx-*-5 my-3">
                <input class="form-control" type="text" name="search" [(ngModel)]="Uname" autocomplete="off"
                    placeholder="&#61442;  Start searching for user  ">
            </div>

            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">UName</th>
                        <th scope="col">email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of userdata | filter: Uname">
                        <td>{{row.uid}}</td>
                        <td>{{row.uname}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.password}}</td>
                        <td>
                            <button (click)="onEdit(row)" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" type="button">Edit</button>
                            <button (click)="deleteUsercom(row)" class="btn btn-danger mx-3">Delete</button>
                        </td>
                    </tr>

                </tbody>

            </table>




            <!-- Button trigger modal -->

            <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">User Details</h4>
                            <button type="button" class="btn btn-danger" aria-label="Close"
                                (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="formValue">
                                <div class="form-group mb-3">
                                    <label for="exampleInputname">Uname</label>
                                    <input type="text" class="form-control" formControlName="uname"
                                        id="exampleInputname" aria-describedby="emailHelp" placeholder="Enter name">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="exampleInputEmail1">email</label>
                                    <input type="text" class="form-control" formControlName="email"
                                        id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" formControlName="password"
                                        id="exampleInputPassword1" placeholder="Password">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">

                            <button type="button" id="cancel" class="btn btn-warning"
                                (click)="onCloseHandled()">Close</button>
                            <button type="button" class="btn btn-primary" *ngIf="showAdd"
                                (click)="postUserDetails()">Add</button>
                            <button type="button" class="btn btn-primary" *ngIf="showUpdate"
                                (click)="updateUserDetails()">Update</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div *ngIf="!loggedin">Not loggd in</div>