<!-- <div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">GiftPortal</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="admin" class="nav-link">Admin</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>
</div> -->



<!-- <div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div> -->
<!-- <app-user-profile></app-user-profile> -->
<app-u-my-complaints></app-u-my-complaints>

<!-- <app-user-dashboard></app-user-dashboard> -->
<!-- <app-user-list></app-user-list> -->
<!-- <app-complaints></app-complaints> -->
<!-- <app-user-list></app-user-list> -->
<!-- <app-orders></app-orders> -->
<!-- <app-admin-login></app-admin-login> -->
