<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>UserLogin</h1>
    </div>
</nav>

<div class="container ">
    <div class="row">
        <div class="row">
            <div class="col lg-6">
                <h2>User Name:<span>{{userdata.uname}}</span></h2>
                <h2>Email:<span>{{userdata.email}}</span></h2>
                <h2>Mobile No:<span>{{userdata.mobileno}}</span></h2>
            </div>
            <div class="col lg-6">
                <h2>Address:<span>{{userdata.address}}</span></h2>
                <h2>City:<span>{{userdata.city}}</span></h2>
                <h2>Mobile No:<span>{{userdata.mobileno}}</span></h2>
            </div>
            
        </div>
        <button class="bttn" (click)="onEditing(userdata)">Edit</button>
        
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">User Details</h4>
                        <button type="button" class="btn btn-danger" aria-label="Close" (click)="onCloseHandled()"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="formValue">

                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" class="form-control" formControlName="uname" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" readonly>
                            </div>
                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">email</label>
                                <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" readonly>
                            </div>

                            <div class="form-group mb-3">
                                <label for="exampleInputname">Mobile No</label>
                                <input type="number" class="form-control" formControlName="mobileno"
                                    id="exampleInputname" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group mb-3">
                                <label for="exampleInputEmail1">address</label>
                                <input type="text" class="form-control" formControlName="address"
                                    id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>

                            <div class="form-group mb-3">
                                <label for="exampleInputPassword1">city</label>
                                <input type="text" class="form-control" formControlName="city"
                                    id="exampleInputPassword1">
                            </div>
                            <div class="form-group mb-3">
                                <label for="exampleInputPassword1">Pincode</label>
                                <input type="number" class="form-control" formControlName="pincode"
                                    id="exampleInputPassword1">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="updateUserprofile()">Update</button>

                        <button type="button" id="cancel" class="btn btn-warning"
                            (click)="onCloseHandled()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>