.container{
    background-image: url(user.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    background-size: 100%;

}
span{
    font-family:'Times New Roman', Times, serif;
    color: white;
    font-style: italic;
}
.row{
   
    width:100%;
    margin-top: 25px;
}
.row h2{
    text-align: center;
    margin: 50px;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.bttn{
    height:50px;
    width: 200px;
    margin-left: 600px;
    background-color: orange;
    border-radius: 12px;
    border-color: white;
    border-width: 2px;
    cursor:pointer;
}
.bttn:hover{
    background-color: paleturquoise;
}


.modal{
    align-items: center;
    
}


